<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <link rel="stylesheet" href="../static/css/userStyle.css">
        <title>角色选择</title>
    </head>

    <body>
        
        <div class="head-bar">
            <a href="###" onclick="javascript:history.back(-1);">
                <img class="back" src="../static/images/arrow-left-gray.png">
            </a>
        </div>

        <div class="head-image">

            <a href="###">
                <img class="himage" src="../static/images/user.png">
            </a>

            <a href="###">
                <div>修改头像</div>
            </a>

        </div>
            
        <div class="setting-container">
            <div class="user-setting">
                <div class="title">
                    用户名:test1
                </div>

                <div class="set-btn">
                    修改
                </div>
            </div>

            <div class="user-setting">
                <div class="title">
                    直播名称：未设置
                </div>

                <div class="set-btn">
                    修改
                </div>
            </div>
        </div>

        <div class="button-container">
            <div class="action">
                <input type="submit" class="switch" value = "切换用户">
            </div>

            <div class="logout">
                <input type="submit" class="logoutbtn" value = "注销">
            </div>
        </div>
    </body>
</html>